repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: no-commit-to-branch
        args: [--branch=main, --branch=master, --branch=production]
      - id: trailing-whitespace
      - id: check-merge-conflict

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff-format
      - id: ruff-check
        args: [--fix]


  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.22
    hooks:
      - id: uv-lock

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: ty
        name: ty (type checker)
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false
